DEBUG=True
DJANGO_SECRET_KEY=replace-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_NAME=my_database
DB_USER=root
DB_PASSWORD=replace-me
DB_HOST=db
DB_PORT=3306
MYSQL_DATABASE=my_database
MYSQL_ROOT_PASSWORD=replace-me

FRONTEND_LOCAL_URL=http://localhost:3000
FRONTEND_REMOTE_URL=

GITHUB_OAUTH_LOCAL_CLIENT_ID=
GITHUB_OAUTH_LOCAL_CLIENT_SECRET=
GITHUB_OAUTH_REMOTE_CLIENT_ID=
GITHUB_OAUTH_REMOTE_CLIENT_SECRET=
